# Look at the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#read payments and locations csvs
payments = pd.read_csv("data/payments.csv")
locations = pd.read_csv("data/locations.csv")

In [4]:
payments.head()

,Unnamed: 0,uuid,locationId,paymentCreatedAt,totalAmount,status
0,0,daade908-54ae-51be-b444-6da23cc34a70,054e08f5-cf0e-52ef-ac37-c09e74e4842e,2022-07-05 06:21:18.000000 +00:00,1.10,CLO
1,1,e2d78287-9073-51c4-8025-e6867528d5b6,4ca68519-7eb9-5af1-a92a-6a791f07a39a,2022-06-05 20:30:18.000000 +00:00,28.08,CLO
2,2,2b10ef43-bad0-5048-b583-c3ffb85766d5,7ebce01d-06de-5693-89fe-c68535099aa6,2022-06-08 11:10:18.000000 +00:00,131.76,CLO
3,3,115c4b9f-48ce-5420-bb26-9ccab69b9cb6,e347104e-b37f-5bfe-abae-ba5f1b1a9cf5,2022-06-08 21:20:48.000000 +00:00,76.80,CLO
4,4,6c36b04c-405f-52e5-bcc7-98f9f9d59b30,764f8b86-f7d6-566a-9915-4ec836e8f863,2022-06-10 09:11:55.000000 +00:00,0.00,ERR

In [3]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        383 non-null    int64
 1   uuid              383 non-null    object
 2   locationId        383 non-null    object
 3   paymentCreatedAt  383 non-null    object
 4   totalAmount       383 non-null    float64
 5   status            383 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 18.1+ KB

In [17]:
payments["payment_date"] = pd.to_datetime(payments["paymentCreatedAt"])

In [22]:
payments.payment_date.dt.hour

0       6
1      20
2      11
3      21
4       9
       ..
378    11
379    21
380    12
381     9
382    19
Name: payment_date, Length: 383, dtype: int64

In [10]:
payments.status.unique()

array(['CLO', 'ERR'], dtype=object)

In [11]:
payments.loc[payments.status == "ERR", ["totalAmount", "status"]]

     totalAmount status
4            0.0    ERR
20           0.0    ERR
26           0.0    ERR
27           0.0    ERR
38           0.0    ERR
..           ...    ...
304          0.0    ERR
307          0.0    ERR
308          0.0    ERR
310          0.0    ERR
370          0.0    ERR

[70 rows x 2 columns]

In [9]:
locations.head()

,Unnamed: 0,uuid,locationGroupId,paymentActive,companyName,city
0,0,c7c6549a-8226-5cc5-98ae-dd3e89d4586e,ee34290f-711f-582b-864f-14ed09e58c11,True,culture4life GmbH,Berlin
1,1,3a88c5dc-72b3-5a07-9bab-c318ca319de1,db481aa0-58af-5c0b-8c55-3e0bc310d9ee,True,Unternehmen,Ot
2,2,20cc0d83-486f-5000-91eb-b695196458c5,3bd04d8b-bc3f-59e8-899b-c901a5349103,True,culture4life GmbH,Berlin
3,3,337f3986-f7b2-5832-9268-972330720e8a,36cf69a9-e9a1-5e92-8425-b56376993516,True,culture4life GmbH,Berlin
4,4,8adbea98-c712-50fe-bbe3-dd18dd53965a,91eaf90e-e88c-5ab4-9523-2a27e8bd4298,True,Unternehmen,Ot

In [16]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       366 non-null    int64
 1   uuid             366 non-null    object
 2   locationGroupId  366 non-null    object
 3   paymentActive    366 non-null    bool
 4   companyName      366 non-null    object
 5   city             366 non-null    object
dtypes: bool(1), int64(1), object(4)
memory usage: 14.8+ KB

In [12]:
locations["companyName"].nunique()

213

In [13]:
locations["companyName"].unique()

array(['culture4life GmbH', 'Unternehmen', 'S.E.B. Spezialeinbauten GmbH',
       'Ban Canteen GmbH & Co. KG', 'Baghi & Baghi oHG', 'IssBesser GmbH',
       'DUFTE Manufaktur', 'HeartSpace Lifestyle GmbH', 'freiraum.co',
       '3YS Vision GmbH', 'Quchnia', 'Bans & Bans GbR', 'Tobis Cafe',
       'Pho Nguyen 68', 'U', 'D.Rossberg',
       'Ostfr. Landschftl. Brandkasse', 'Samira Baghi', 'Francis Ross',
       'cafe sofa', 'Nexenio', 'Pianosalon Christophori ',
       'Pizza King NÃ¼rnberg', 'P TWO', 'Minimarkt Stresow',
       'Oliver Stumhofer / Shirtplus', 'Anou GmbH',
       'Schule am Ilmer Barg', 'Arboretum Neuenkoop', 'Talavasek Josef',
       'Privathotels Dr.Lohbeck GmbH & Co.KG Hotel am MÃ¼hlenteich',
       'Sven Schneider SteammachineÂ®',
       'SPA architekten - stadtplaner - ingenieure',
       'Kunstgut Krahne GbR', 'Der Wok Vechta', 'ND',
       'Avocado Gastronomie und Catering GmbH', 'HaargÃ¤rtnerei Alflen',
       'eiscafe sam remo', 'denvers Craftbeer-Brauerei & Feinkostladen',
       'Physiotherapie Heier', 'Radio Sunray-FM e.K.', 'Foto Iben GmbH',
       'Ennovy-Designs - Goldschmiede & Schmuckhandel',
       'SV Rot-WeiÃŸ DÃ¼nstekoven. e.V.', 'HOTEL RESTAURANT CAFE KEMPENHOF',
       'Holger RÃ¼ppel', 'Aqualand Tauchsport & Reisen, Inh. Stefan Blatt',
       'Ristorante Anima', 'Old Vineyard Weinbistro', 'Kaffeekunzt',
       'Restaurant Durrani', 'Gesundheitszentrum Beckmann',
       'GLG Bewirtung & Catering Ug (haftungsbeschrÃ¤nkt)',
       'PRAXIS FÃœR NATURHEILKUNDE ', 'SonnenbrÃ¤u',
       'Hinode - Japanisches Restaurant', 'TeddybÃ¤renhotel',
       'Landgasho ZiegelhÃ¼tte', 'Drautzburg ',
       'schnurstracks Aktiv GmbH - Kletterpark Sachsenwald',
       'Martins Imbiss Burgwedel', 'Ristorante Piazzetta',
       'EFG Eckenhaid', 'Computer-Service', 'Party Crew',
       'Daniel Becker - Handelsvertreter',
       'Loccita Erlangen Arcaden im EG.', 'Ãœberfisch', 'YassinSabah',
       'cherryware GmbH', 'Boris BratwÃ¼rste', 'Hundezentrum Taunuspfoten',
       'Frericks-Bus-Betriebs GmbH', 'City BraustÃ¼bl',
       'Live-Musik Esslingen e.V.', 'Gasthof FallmÃ¼hle', 'Das BlumenWerk',
       'Elektro BaumgÃ¤rtner GmbH', 'Bird`S Diner     Anton Vogl',
       'Villa Tunichtgut', 'Juliansleben Design', 'heely',
       'Kulturhafen Dresden GbR', 'Cafe Wahnsinn',
       'Christel LÃ¼bcke Gastronomie u.G.', 'Hawker Bar & Kitchen',
       'ChristianDemoLuca', 'Luca Test Dummy', 'il Gusto Gastro GmbH',
       'Luca Leon Bauer', 'Hans-Werner Krob',
       'BrauereigaststÃ¤tte Dinkelacker', 'Tuchweberey / Akiv-Kreativ',
       'Nagelstudio', 'ROTPUNKT Dr. Anso Zimmermann GmbH',
       'China Restaurant Zhou', 'Urlaubsreiterhof',
       'Penthouse Ostseepanorama', 'cafe restaurant haaf', 'Nothaft Cafe',
       'Clubheim Bolbrinker im GTB', 'HEX.Event',
       'Nguyen, Minh Sam + Do Ha, Chi GbR', 'Ferienwohnung Achterndiek',
       'neXenio GmbH', 'schreier`s fish and more', 'Clara Vere GmbH',
       'Reha & Yoga SchÃ¶now', 'boTec GmbH', 'Steffen G. Events',
       'Familie Deutsch', 'Ballyclare GmbH', 'Jazzclub SchwÃ¤bisch Hall',
       'Werner BuÃŸmann GmbH', 'Restaurant IL Mondo', 'Immopit Imobilien',
       'Dorit MÃ¼nzer-Bock Speisekammer West',
       'Thorsten und Volker Griebel GbR',
       'Residenz Zehlendorf Kranken- und Pflegeheim GmbH',
       'RentnerParadise', 'Origami Sushi & Asian Cuisine',
       'Walter Hofmann Friseursalons', 'The Nubis', 'KÃ¼chen KÃ¼mper',
       'Laug-Rumpel GmbH', 'Eisbacher', 'Operator Teamtest', 'Casa Nova',
       'priv.', 'Tennisclub Nieder-Rosbach', 'Hotel am Markt',
       'Phoenix KG', 'Provinzial Versicherung', 'Cafe Sporthalle Ost',
       'coo', 'Absturzsicherungen Birkenwerder GmbH', 'sfdsdafds',
       'BERKS Dancing GmbH', 'Spice Management GmbH', 'Zum Wilden luca ',
       'Magdalena', 'WunderBar GbR', 'Blanco Coffee', 'CafÃ© Bar Cultura',
       'Braugasthaus SchanzenhÃ¶fe GmbH', 'Thielsch Friseur GmbH',
       'test place', 'Tina Meier Yoga Bike & Business Coaching', 'Safin',
       'Tortentraum', 'Wiki Restaurant', 'Unterfisch',
       'Praxis Elsenheimer', 'Nordsee Domizil SchobÃ¼ll',
       'Restaurant San Marino', 'Simela pizzeria finest food',
       'KARMA- Eat fresh,live healthy', 'JIM COFFEY',
       'Restaurant Schloss Steinhausen', 'T.E.C.S. GbR - Burgeramt',
       'Adidas AG', 'RoKoSt GaststÃ¤ttenbetriebsges. mbH', 'Karma',
       'GaststÃ¤tte Brauerei Etzel', 'Rastenberger Waldschwimmbad e.V.',
       'Windback Coffee', 'Nah am Wasser', 'Gelateria Pistakkio GbR',
       'EST.', 'openmindsec', 'Munchy Berlin GmbH', 'Good One GmbH',
       'Liebes Bisschen', 'Mahalo Poke', 'Pursuit of Coffee',
       'Christel LÃ¼bcke Gastronomie uG', 'Litcoffeebar&bakery',
       'Bagel Coffee Culture', 'WBK Wine Beef Kontor GmbH',
       'Buttgereit GbR', 'Sissi Restaurant ', 'Macaibo GmbH',
       'Evangelische kirchengemeinde meckenheim', 'Simela Finest Food',
       'Restaurant King of India ', 'Curry & Co. OHG',
       'OVEST Italian Touch', 'Bar39', 'Geschwister Nothaft Cafe',
       'El Chilenito', 'kleines theater Bad Godesberg',
       'Piccola Romantica', 'Chez Emil Restaurant', 'Kitty Cheng',
       'The Vow Berlin', 'Das Lokal GmbH', 'City Pizza', 'Wild Chicken',
       'Test', 'Black Burger', 'Smoozery', 'DGMK GmbH',
       ' Restaurant RÃ¶sch ', 'Oishinbo', 'Nuovo Mario Fagiano GmbH',
       'Nuovo Mario Fagiano GmbH ', 'KHALIFA RAHALI & OUERFELLI  GBR,',
       'La Gondola Due', 'ISLAK Burger', 'Fisch', 'Schlosspark-Grill',
       'Four-Gourmetgesellschaft mbh & CO.KG'], dtype=object)